name: Release
on:
    push:
        tags: ["*"]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: "22"

            - run: |
                  npm install
                  npm run build

            - name: Package
              run: |
                  mkdir dist
                  cp main.js manifest.json README.md dist/
                  zip -r release.zip dist/

            - uses: actions/create-release@v1
              id: create_release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tag_name: ${{ github.ref }}
                  release_name: ${{ github.ref }}

            - uses: actions/upload-release-asset@v1
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  upload_url: ${{ steps.create_release.outputs.upload_url }}
                  asset_path: ./release.zip
                  asset_name: release-${{ github.ref_name }}.zip
                  asset_content_type: application/zip
